/.idea/
/*.log
/kernel/build/
/kernel/*.log
/kernel/kernel.iml
/*.iml
/kernel/*.iml
/.local/
/.github/
/.config/
/.cache/
/qcow2_image/module.log
/init-bundle-manager/dependency-reduced-pom.xml
/disk_images/module.log
